rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    match /{collection}/{docId} {
      allow read, write: if isSignedIn();
    }
    match /{collection}/{docId}/{sub}/{subId} {
      allow read, write: if isSignedIn();
    }
  }
}